.container{
    padding: 200px;
    justify-content: center;
    align-items: center;
    display:flex;
    height: 10vh;
    width: 50vw;
    

    
}
.date{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding  :20px;
    gap: 45px;
 

}
body{
    background-color:#5D576B;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
button{
    height:20px;
}
#add{
    height:30px;
    background-color:rgb(224, 60, 87);
    cursor: pointer;
    border-radius:5px;
}
.todo-input{
    height: 20px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    
}
.date-input{
    height: 20px;
    width: 200px;
    border-radius: 5px;
    border:none ;
    padding: 10px;
}
#task{
    height:50px;
    width:490px;
    background-color:green;
    margin-left:0px;
    color:white;
    cursor: pointer;
    border-radius:5px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:340px;
    padding: px;
    height:20px;
    width:2000px;
    
}
#clear{
    height:40px;
    background-color:rgb(224, 60, 87);
    cursor: pointer;
    visibility: visible;
}


li
{
    color:black;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    align-items: center;
    

}
i
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding:5px;
    font-size:20px;
    margin-left: 20px;
}
button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    padding:5px;
    font-size:20px;
}
.edit-button{
    background-color: transparent;
    color:blue;
    border:none;
    cursor: pointer;
    padding:5px;
    font-size:20px;
}
.delete-button{
    background-color: transparent;
    color: red;
    border:none;
    cursor: pointer;
    padding:5px;
    font-size:20px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;    
    background-color:#5D576B;
    border: 2px solid #ccc;
}
#text-edit{
     height: 20px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    gap: 30px;
}
#date-edit{
    height: 20px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    gap: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}   
#save{
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:10px;
    display:flex;
    gap: 30px;
    width:60px;
    
}
.edit-container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
   gap: 20px; 
   visibility:hidden ;
}
